/*CSS Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Generics*/
body{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

ul{
    list-style-type: none;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
}

/*Utils*/
.big-container{
    width: 1080px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.debug{
    border: 1px dashed black;
}

/*Header*/

.navbar{
    position: sticky;
    top: 0;
    left: 0;

    min-height: 80px;
    background-color: grey;

    padding: 15px;
}

.nav-left-side{
    flex-basis: 50%;
}

.nav-right-side{
    flex-basis: 50%;
}

.logo{
    display: inline-block;
}